

.general {
    font-size: 15px; 
    padding: 10px; 
    margin: auto;
    font-family: Arial;
    font-weight: bold;
    border-radius: 10px;
    width: 800px;

}
.label {
    font-size: 30px;
}

.vca {
    font-family: Arial;
    font-weight: bold;
}

.blk {
    font-family: Arial;
    font-weight: bold;
}