.inputbox {
    width: 200px; 
    height: 35px; 
    padding: 7px;
    border-radius:5px;
}

.div2 {
    width: 200px;
    height: 50px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: bottom;
    font-size: 15px;
}

input {
    outline: none;
    border: 1px solid orange;
}