<div class="div2">
  
    <label class="titleBold"> {{title}} </label>

    <input name="coefficent" formControlName="coefficent"  class="inputbox" (blur)="displayCoeff()" class="form-control" required minlength="1" [(ngModel)]="coefficient" type="number" />
    <!-- <div *ngIf="coefficent.invalid && (coefficent.dirty || coefficent.touched)" class="alert alert-danger">
        <div *ngIf="coefficent.errors.required">
          Decimal Value is required.
        </div>
    </div> -->
    <!-- <div style="background-color:aqua;">
      <label>{{coefficient}}</label>
    </div> -->
</div>