<div class="facturatieParameters">
        <app-title title="Facturatie Parameters"></app-title>

     <div class="leftparameters">
        <div class="inhaalrust">
            <ui-switch size="small"></ui-switch> &nbsp;
            <label class="titleBold">Inhaalrust</label>
        </div>
        <input id="inhaalrust" [formControlName]="inhaalrust" class="inputBoxInhaalrust" type="text"/>
        <div class="ziekte">
            <ui-switch  size="small"></ui-switch>  &nbsp;
            <label class="titleBold">Ziekte</label>
        </div>
        <div class="feest">
            <ui-switch  size="small"></ui-switch>  &nbsp;
            <label class="titleBold">Feest</label>
        </div>
        <div class="mobile">
            <ui-switch  size="small"></ui-switch>  &nbsp;
            <label class="titleBold">Mobile</label>
        </div>
        <input id="mobilebox" class="inputBoxInhaalrust" type="text"/>
     </div>

     <div class="rightparameters">
        <div class="Ploegprime clearfix">
            <ui-switch  size="small"></ui-switch>&nbsp;
            <label class="titleBold">Ploegpremie</label>
              <div class="addButton">
                    <div class="addRow" *ngFor="let Ploegpremiere of form.get('arrayBox').controls; let i=index">
                            <!-- The repeated alias template -->
                            <div class="boxes">
                                    <input id="PloegprimeBox1" type="text" [formControlName]="i">
                                    <input id="PloegprimeBox2" type="text" [formControlName]="i">
                                    <input id="PloegprimeBox3" type="text" [formControlName]="i"> 
                                    <button (click)="addRows()" [hidden]="addNewRow" type="button" class="btnAdd"><img src="../../../assets/add.png" alt="" height="17.5" width="17.5" /></button>                 
                                    <button (click)="removeRows(i)" [hidden]="removeLastRemove" type="button" class="btnRemove"><img src="../../../assets/add.png" alt="" height="17.5" width="17.5" /></button>
                            </div>
                    </div>
              </div>
        </div>
        <div class="Andre">
            <ui-switch  size="small"></ui-switch>&nbsp;
            <label class="titleBold">Andre</label>
            <div class="addButton">
                    <div class="addRow" *ngFor="let Andre of formNew.get('arrayAndreBox').controls; let i=index">
                            <div class="boxes">
                                    <input id="PloegprimeBox1" type="text" [formControlName]="i">
                                    <input id="PloegprimeBox2" type="text" [formControlName]="i">
                                    <input id="PloegprimeBox3" type="text" [formControlName]="i">
                                    <button (click)="addAndreRows()" [hidden]="addNewRow" type="button" class="btnAdd"><img src="../../../assets/add.png" alt="" height="17.5" width="17.5" /></button>                 
                                    <button (click)="removeAndreRows(i)" [hidden]="removeLastRemove" type="button" class="btnRemove"><img src="../../../assets/add.png" alt="" height="17.5" width="17.5" /></button>
                            </div>
                    </div>            
            </div>
        </div>
     </div>
</div>