<!--The content below is only a placeholder and can be replaced.-->

<div style="margin-top:50px; text-align: center; font-weight: bold; font-size: large; font-family: Arial Rounded MT Bold, Regular">
  <img width="30.49" height="42.04" alt="Angular Logo" src="../assets/Topheader.png">
  <div style="margin: 20px">
    {{title}}
  </div>
</div>

<div style="text-align:right; margin-right: 100px">
  <img width="209.32" height="49.5" alt="DPS Logo" src="../assets/logo.png">
</div>

<div style="text-align:center">
  <img width="716px" height="49" alt="DPS Logo" src="../assets/ProgressBar1.png">
</div>

<div class="container"> 
      <div class="form-group">
          <div class="col-md-7"><app-dashboard></app-dashboard></div>
      </div>    
</div>




<!-- <div class="container">
  <div class="col-md-7"><app-general></app-general></div>
  <div class="col-md-7"><app-albeiders></app-albeiders></div>
  <div class="col-md-7"><app-bedienden></app-bedienden></div>
  <div class="col-md-7"><div class="jobs"><app-jobstudenten></app-jobstudenten></div><div class="flexi"><app-flexi></app-flexi></div></div>
  <div class="col-md-7"><div class="last"><app-fatureparametre></app-fatureparametre></div></div>
</div> -->

<router-outlet></router-outlet>
