<div class="bedienden">
        <app-title title="Bedienden"></app-title>
        <div class="div1">
            <label style="font-weight:bold;"> Paritair Commitee: </label>
            <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle">
                    <label class="textParitair"> Paritair Commitee values </label>
              </button>
               <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                </li>
              </ul> 
            </div>
        </div>
      
        <div class="div2">
            <label style="font-weight:bold;"> Coefficient Bedienden: </label>
            <input id="inputbox" style="width: 200px; height: 40px; padding: 7px; border-radius: 5px;" />
          </div>    
  
    <div style="padding: 5px; padding-left:0px; margin: 5px; margin-top: 30px; font-size: 15px;">
        <ui-switch size="small"> </ui-switch> &nbsp;
         <label style="font-weight:bold;"> Maaltijdcheques </label>
    </div>

        <!-- <div class="totalbox">
            <label style="font-weight:bold;"> Totale waarde: </label><br>
            <input id="totalbox" style=" width: 200px; height: 40px; padding: 7px;" />
        </div> -->

        <app-inputbox (childEvent)="displayCoeff($event)" title="Totale waarde:" [(coefficient)]="coefficient"></app-inputbox>
        <label style="font-weight:bold;">total: {{coefficient}}</label>
        
        <!-- <div class="Wergeversdeel">
                <label style="font-weight:bold;">Wergeversdeel: </label>
                <input id="Wergeversdeel" style=" width: 200px; height: 40px; padding: 7px;" />
        </div>
    
        <div class="Minimumuren">
                <label style="font-weight:bold;">Minimum uren: </label>
                <input id="Minimumuren" style=" width: 150px; height: 40px; padding: 7px;" />
        </div> -->


  </div>